<%- include('layout_web/header2') %>
    <div class="row">
      <div class="col-9">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% banners.map((banner, index) => { %>
            <div class="carousel-item <%= index + 1 == 1 ? 'active' : '' %> ">
              <img src="<%= banner.path %>" class="d-block w-100" alt="..." />
            </div>
            <% }) %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <nav class="mt-2">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">ประชาสัมพันธ์</a>
            <a  class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">กิจกรรม</a>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <ul class="list-group">
              <% publics.map((item, index) => { %>
              <li class="list-group-item"><a  href="/news/<%= item.id %>"> <%= item.title %></a></li>
              <% }) %>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <ul class="list-group">
              <% activities.map((activity, index) => { %>
              <li class="list-group-item"><a href="/news/<%= activity.id %>"><%= activity.title %></a></li>
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="row mt-3">
          <% features.map((feature, index) => { %>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="<%= feature.thumbnail %>" alt="<%= feature.title %>" />
              <div class="card-body">
                <p class="card-text">
                    <%= feature.title %>
                </p>
                <a target=_blank href="/news/<%= feature.id %>" class="btn btn-primary">อ่านข่าว</a>
              </div>
            </div>
          </div>
          <% }) %>

        </div>
      </div>
      <div class="col-3">
        <h4 class="mt-3">เจ้าอาวาสวัด</h4>
        <p class="mt-3">พระ ดร. ฐานี ฐิตวิริโย</p>
        <img
          src="https://scontent.fbkk4-1.fna.fbcdn.net/v/t1.0-9/67193276_238270390389666_1902637543959035904_n.jpg?_nc_cat=105&_nc_eui2=AeEc6wzRpazkH0A21uZN2WS9DuCPRpmGHqxmFgAa9FEaSdKwGYEc3ES3mynHfWNV3A4j06zEWH2924RNhA721B-bgjVF3KBliMrD39WkaN9eeA&_nc_oc=AQkGDOUMKK36BvYxr0LMRDg2eaSQuktb67mnIzjgOfAD3TycJxLEYDimQWKIJAiHW8Q&_nc_ht=scontent.fbkk4-1.fna&oh=7fa5d42b15959993a7a0c851964217b3&oe=5DB5F9D9"
          alt="" class="w-100" />
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous"
          src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.3"></script>
        <div class="fb-page w-100 mt-2"
          data-href="https://web.facebook.com/%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%99%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%9B%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B8%A7%E0%B8%B4%E0%B9%80%E0%B8%A7%E0%B8%81-%E0%B8%AD%E0%B9%80%E0%B8%A7%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B9%81%E0%B8%AB%E0%B8%87-%E0%B8%88%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88-146598892072911/"
          data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
          data-hide-cover="false" data-show-facepile="true">
          <blockquote
            cite="https://web.facebook.com/%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%99%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%9B%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B8%A7%E0%B8%B4%E0%B9%80%E0%B8%A7%E0%B8%81-%E0%B8%AD%E0%B9%80%E0%B8%A7%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B9%81%E0%B8%AB%E0%B8%87-%E0%B8%88%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88-146598892072911/"
            class="fb-xfbml-parse-ignore"><a
              href="https://web.facebook.com/%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%99%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%9B%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B8%A7%E0%B8%B4%E0%B9%80%E0%B8%A7%E0%B8%81-%E0%B8%AD%E0%B9%80%E0%B8%A7%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B9%81%E0%B8%AB%E0%B8%87-%E0%B8%88%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88-146598892072911/">สถานธรรมปลีกวิเวก
              อ.เวียงแหง จ.เชียงใหม่</a></blockquote>
        </div>
      </div>
    </div>
    <%- include('layout_web/footer2') %>